<footer>
    <div class="footer-container max-width">
        <div class="left-container">
            <div>
                <p><b>PRODUITS</b></p>
                <a routerLink="/products/electronics">Electronique</a>
                <a routerLink="/products/jewelery">Bijoux</a>
                <a routerLink="/products/men's">Vetements pour hommes</a>
                <a routerLink="/products/women's">Vetements pour femmes</a>
            </div>
            <div>
                <p><b>LIENS</b></p>
                <a href="github">Github</a>
                <a href="You">You tube</a>
                <a href="">Contact</a>
            </div>
        </div>
        <p>
            <b>GB ECOMMERCE &copy; {{date.getFullYear()}}</b><br>
            Développé par Issa Diol ,propulsé par Angular
        </p>
    </div>
</footer>
